<server description="Sample Liberty server">
	<featureManager>
		<feature>beanValidation-3.1</feature> <!-- Update to validation-3.1 when in beta -->	   
		<feature>passwordUtilities-1.0</feature>
		<feature>restfulWS-4.0</feature>
		<feature>cdi-4.1</feature>
		<feature>jsonb-3.0</feature>
		<feature>data-1.0</feature>
		<feature>persistence-3.2</feature>
	</featureManager>
	
	<httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

	<webApplication location="JakartaDataSample.war" contextRoot="/"/>

	<library id="PostgresLib">
		<fileset dir="${server.config.dir}/lib/postgres" includes="*.jar"/>
	</library>

    <library id="DerbyLib">
		<fileset dir="${server.config.dir}/lib/derby" includes="*.jar"/>
	</library>

	<dataSource id="DefaultDataSource" jndiName="jdbc/datadb">

        <jdbcDriver libraryRef="PostgresLib"/>
		<properties.postgresql databaseName="testdb" serverName="localhost" portNumber="5432" user="sampleUser" password="{aes}APtt+/vYxxPa0jE1rhmZue9wBm3JGqFK3JR4oJdSDGWM1wLr1ckvqkqKjSB2Voty8g=="/>

        <!-- Swap with postgres above to use Derby Embedded
        <jdbcDriver libraryRef="DerbyLib"/>
        <properties.derby.embedded databaseName="memory:testDB" createDatabase="create"/>
        -->
    </dataSource>

</server>